<!DOCTYPE html>
<html>
	<head>
		{% include head.html %}
	</head>
	<body style="background-color: black;">
		<div class="container" style="background-color:#fafafa; border-radius: 4px;">
			<div class="row row-margin">
				<div class="navbar" role="navigation">
					{% include topnav.html %}
				</div>
			</div>
			<div class="row row-margin" role="article">
				<div id="main">
					<div class="row">
						<div class="col-md-12">
							{{content}}
						</div>
					</div>
				</div>
			</div>
            <div class="row">
                <hr class="shaded"/>
                {% include footer.html %}
            </div>
		</div>
	</body>
</html>
